ED_ACERVO=./acervo
ED_PAINEL_PORTA=17789
ED_PAINEL_HOST=127.0.0.1
ED_WHISPER_MODELO=large-v3
ED_WHISPER_COMPUTE=float16
ED_WHISPER_BATCH=16
ED_DIVERGENCIA_PALAVRAS=0.85
ED_DIVERGENCIA_SIMILARIDADE=0.75
